[submodule "deps/r2/deps/rlib"]
	path = deps/r2/deps/rlib
	url = https://github.com/wxdwfc/rlibv2.git
[submodule "deps/r2/deps/gflags"]
	path = deps/r2/deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/r2/deps/googletest"]
	path = deps/r2/deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/r2/deps/jemalloc"]
	path = deps/r2/deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "mlnx-ofed-4.9-driver"]
	path = mlnx-ofed-4.9-driver
	url = https://github.com/ProjectMitosisOS/mlnx-ofed-4.9-driver-dct.git
