*.debhelper
*.debhelper.log
*.substvars
.debhelper/
files
ibacm/
ibverbs-providers/
ibverbs-utils/
libibumad-dev/
libibumad3/
libibumad3-dbg/
libibverbs-dev/
libibverbs1/
libibverbs1-dbg/
librdmacm-dev/
librdmacm1/
librdmacm1-dbg/
python3-pyverbs/
rdma-core/
rdmacm-utils/
srptools/
tmp/
